:root{
    --vermelho:#e50914;
    --preto:#141414;
    --cinza:#aaaaaa;
    --cinzahover:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

.container{
    padding: 30px;

}


header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    
}
header .search{
    justify-content: right;
    text-align: right;
    width: 50%;
    padding: 30px;
}
.busca{
    margin:0;
    padding: 5px;
    border: none;
    background-color:var(--preto);
    color: #fff;
    width: 100px;
    transition: .5s ease all;

}
.busca:focus, .busca:active{
    width: 200px;
}

.search i{
    margin-left: 5px;
}
.logo{
    width: 7rem;
    padding: 10px 0;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header nav a{
    text-decoration: none;
    color: var(--cinza);
    transition: .5s ease all;
    padding: 0 15px;
    font-size: 16px;
    

}
header nav{
    margin-left: 10px;
}

header nav a:hover{
    color: var(--cinzahover);
}

/* FIlme Principal*/
.filme-principal{
font-size: 18px;
background: linear-gradient(to left, rgba(0, 0, 0, .2), rgba(0, 0, 0, 1)100%) ,url("../img/gambitoinicial.jpg");
height: 400px;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.filme-principal .container p{
    line-height: 150%;
}

.filme-principal .container{
    width: 60%;
}

.descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.tituloprincipal{
    text-transform: uppercase;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    margin-top: 15%;

}
.info{
    color: var(--vermelho);
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s ease all;


}
.info:hover{
    color: rgba(255, 255, 255, 0.8);
}
.descricao i{
    margin: 0 5px;
}
.botao{
    color: var(--cinza);
    border: none;
    text-transform: uppercase;
    padding: 5px 15px;
    margin: 0 10px 5px 0;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    color: #fff;
}
.botao-red{
    background-color:var(--vermelho);
    font-weight: bold;
}

.botao-trailer{
    border: 1px solid #fff;
    background-color: rgba(0,0,0,.1);
}

.botao i{
    margin: 10px;
}
.botao:hover{
    background-color: #fff;
    color: #000000;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    
}
.carrossel-filmes{
    margin-top: 10px;
}

@media screen and (max-width:850px){
    header .container{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
    .logo{
        width: 10rem;
        margin-bottom: 10px;
    }


    .botao{
        width: 100%;
        margin: 0 0 10px 0;

    }
    .filme-principal{
        background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, 1)100%) ,url("../img/gambitoinicial2.jpg");

    }
    .filme-principal .container{
        width: 100%;
        text-align: center;
    
    }
    .tituloprincipal{
    font-size: 30px;
    }
}